$background : #eeeeee;
$white : #ffffff;
$gray : #9e9e9e;
$purple-2 : #9c27b0;
$text : #3c4858;
$pink-2 : #e91e63;
$light-pink : #fbcfde;
$green-2 : #4caf50;
$blue-2 : #00cae3;
$orange-2 : #ff9800;
$yellow-2 : #ffc801;